*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    
    padding: 0;

    color:#f1f1f1;
}

html{
    background-color: #212224;

    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

}


.wrapper{
    margin-block: 6rem;
    place-items: center;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: block;
    
    gap:1rem;

    width:21.2625rem;
}

h1{
    font-size:3rem;
}

img{
    width:2rem;
    height:2rem;

    background-color: #36383a;
    border-radius: 50%;
}

section{

    border-radius:4px;

    margin-top:1rem;

    background-color: #36383a;
    padding:1rem;
    padding-block: 1rem 1rem;;

}

h2{
    margin-block:0 1rem;
}

iframe{
    border-radius:6px;
    width:280px;
    height:280px;
}

.social-item-container{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    width:20%;
    margin-left: auto;
    margin-right: auto;
    gap:1rem;
}

.contact > a{
    background-color: #6b6d70;
    padding:.5rem 1rem;
    border-radius:14px;
    text-decoration: none;
}

.contact{
    height:6.25rem;
}